*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    align-items: center;
}
.navbar--section1__title{
    color: #b45bef;
}
.navbar--section2{
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar--section2 input{
    border: none;
    width: 100%;
    font-size: 16px;
}
.navbar--section2 input:focus{
    outline: none;
}
.navbar--section3{
    display: flex;
    gap: 10px;
   
}
.Categoriess{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border: solid black 1px;
}
.Categoriess p{
   background-color: #b45bef;
   padding: 10px;
   border-radius: 30px;
   border: solid black 1px;
}
.Categoriess p:hover{
    background-color: white;
}
.Sale-img{
    padding-top: 10px;
}
.Sale-img img{
    width: 100%;
}
.Recommendation{
    padding: 10px;
   
}
.Recommendation__container{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
   margin-top: 10px;
   flex-wrap: wrap;
   
}
.Courses__card {
    width: 250px;
    
    
}
.Courses__card img{
    height: 50%;
    width: 100%;
    border-radius: 5px;
   
}
.Topis--recommendation{
   padding: 10px;
    
}
.Reconnect{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;

}
.Reconnect p{
    border: solid lightblue 3px;
    padding: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
.para:hover{
    background-color: lightblue;
}
.footer{
    padding: 10px;
}
.footer--title__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer--one{
    
    display: flex;
   gap: 10px;
}
.footer--twooo{
    margin: 20px;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.footerin{
    padding: 30px;
    background: #000;
    color: white;
}
.footer--one p{
    margin: 20px;
}
.footer--one__section1 p:hover{
    color: red;
}
.footer--one__section2 p:hover{
    color: red;
}
.Courses__card:hover{
    border: solid black 1px;
    background-color: lightblue;
    border-radius: 5px;
}